<!DOCTYPE html>
<html>
<head>
    <title>Mis comidas</title>
</head>
<body style="font-family: Arial; background-color: #f5f5f5;">

    <h1 style="text-align:center;">🍽 Mis comidas</h1>

    <div style="width: 60%; margin: auto;">
       {% for item in datos %}
            <div style="background: white; padding: 15px; margin: 10px; border-radius: 10px; box-shadow: 2px 2px 5px #ccc;">
                
                <h3>{{ item.plato.nombre }}</h3>
                <p><strong>Tipo:</strong> {{ item.plato.tipo }}</p>
                <p><strong>Energía:</strong> {{ item.nutrientes.energia }} kcal</p>
                <p><strong>Grasas:</strong> {{ item.nutrientes.grasas }} g</p>
                <p><strong>Carbohidratos:</strong> {{ item.nutrientes.carbohidratos }} g</p>
                <p><strong>Proteínas:</strong> {{ item.nutrientes.proteinas }} g</p>
                <p><strong>Sodio:</strong> {{ item.nutrientes.sodio }} mg</p>
                <p><strong>Azúcar:</strong> {{ item.nutrientes.azucar }} g</p>
<!-- 🚨 ALERTAS AQUÍ -->
{% if item.alertas %}
  <ul style="color:red; font-weight:bold;">
    {% for alerta in item.alertas %}
      <li>{{ alerta }}</li>
    {% endfor %}
  </ul>
{% endif %}
            </div>
        {% empty %}
            <p>No hay comidas registradas 😢</p>
        {% endfor %}
    </div>

</body>
</html>