<strong>Principal:</strong>
<ul>
{% for plato in menu.platos.all %}
    {% if plato.tipo == 'principal' %}
        <li>{{ plato.nombre }}</li>
    {% endif %}
{% endfor %}
</ul>

<strong>Acompañamiento:</strong>
<ul>
{% for plato in menu.platos.all %}
    {% if plato.tipo == 'acompañamiento' %}
        <li>{{ plato.nombre }}</li>
    {% endif %}
{% endfor %}
</ul>

<strong>Bebidas:</strong>
<ul>
{% for plato in menu.platos.all %}
    {% if plato.tipo == 'bebida' %}
        <li>{{ plato.nombre }}</li>
    {% endif %}
{% endfor %}
</ul>

<strong>Fruta:</strong>
<ul>
{% for plato in menu.platos.all %}
    {% if plato.tipo == 'fruta' %}
        <li>{{ plato.nombre }}</li>
    {% endif %}
{% endfor %}
</ul>

<strong>Snack:</strong>
<ul>
{% for plato in menu.platos.all %}
    {% if plato.tipo == 'snack' %}
        <li>{{ plato.nombre }}</li>
    {% endif %}
{% endfor %}
</ul>